@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility glass{
  @apply bg-[#631732]/30 border border-white/20 shadow-lg shadow-black/10 backdrop-blur-xl rounded-2xl;
}

@utility font-roboto-condensed {
  font-family: var(--font-roboto-condensed), sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: var(--font-roboto-condensed), sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oranienbaum), serif;

}

